@model IEnumerable<MyLuckyTicket.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="congrat" class="display-4">Congrats:</h1>
</div>

<div class="mb-3" style="display: flex">
    <input type="text" class="form-control col-5" id="search-ticket-field" placeholder="Input ticket number">
    <button id="seach-ticket" type="button" class="btn btn-secondary">Search</button>
</div>
<a asp-controller="Users" asp-action="Create" class="btn btn-success">Create new account</a><br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account</th>
            <th scope="col" style="width: 60%;">Tickets</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((user, index) => new { index, user }))
        {
            <tr>
                <th scope="row">
                    @( item.index + 1 )
                </th>
                <td class="account">
                    @Html.DisplayFor(modelItem => item.user.Account) (@item.user.Tickets.Count tickets)
                </td>
                <td>
                    @foreach(var ticket in item.user.Tickets.OrderBy(ticket => ticket.Number))
                    {
                        <span id="ticket-@ticket.Number" class="ticket-number">@Html.DisplayFor(model => ticket.Number)</span>
                    }
                </td>
                <td>
                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.user.ID" class="btn btn-primary">Edit</a>
                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.user.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/home.js" asp-append-version="true"></script>